div#memory_board{
	background:#CCC;
	border:#999 1px solid;
	width:600px;
	height:540px;
	padding:24px;
	margin:0px auto;
}
div#memory_board > div{
	background: url(small-rocket-ship-silhouette.png) no-repeat;
	border:#000 1px solid;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}
.complete{
	color: red;
	background-color: yellow;
}